div {
    display: block;
    background-color: lightgrey;
}

body {
    background-color: white;
    font-family: arial;
    font-size: 25px;
    color: black;
    line-height: 20px;
}

p { 
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    word-spacing: 1px;
    line-height: 25px;
}

#le_wagon_logo:hover {
    content: url("https://www.lewagon.com/assets/v4/logo-lewagon-9c1…9059ce0dc6c0dfc4cc2447d5a9a3e01bd2d5a214faf3c.svg");
}

/* LinkedIn_logo */
#linkedin-logo {
    color: rgb(0, 0, 0);
    height: 50px;
}

#linkedin-logo:hover {
    color: rgb(210, 210, 210);
}

/* Github_logo */
#github-logo {
    color: rgb(0, 0, 0);
}

#github-logo:hover {
    color: rgb(210, 210, 210);
}

.card-white {
    background-color: white;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.2);
    text-align: center;
    padding: 20px;
    margin: 20px 0;
  }

.avatar {
    width: 200px;
    border-radius: 10%;
    transition: border-radius 500ms;
}

.avatar-circle {
    border-radius: 50%;
}

.list-inline {
    padding: 0;
}

.list-inline li {
    display: inline;
}

.container {
    width: 700px;
    margin: 0 auto;
}

@media (min-width: 440px) {

    /* Pour un écran > 720px, cette classe CSS s'applique */
    .container {
      width: 400px;
    }
  }
  
  @media (min-width: 620px) {
  
    /* Pour un écran > 720px, cette classe CSS s'applique */
    .container {
      width: 500px;
    }
  }
  
  @media (min-width: 960px) {
  
    /* Pour un écran > 720px, cette classe CSS s'applique */
    .container {
      width: 700px;
    }
  }