/* btn-medium */
.btn-yours {
    color: rgb(151, 151, 151);
    background-color: rgb(255, 255, 255);
    padding: 13px 24px;
    border-radius: 50px;
    border-style: solid;
    border-color: rgb(190, 190, 190);
    border-width: thin;
    text-decoration: none;
    text-align: center;
    font-size: small;
    font-weight: 100;
    display: inline-block;
}

.btn-yours:hover {
    color: rgb(151, 151, 151);
}

.btn-yours:link {
    color: rgb(151, 151, 151);
}

.btn-yours:visited {
    color: rgb(206, 206, 206);
}

.btn-yours:active {
    color: rgb(182, 195, 207);
}